body {
    background-color: rgb(53, 53, 53);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.header {
    font-size: 3em;
}

#rock {
    width: 250px;
}

#scissors {
    width: 250px;
}

#paper {
    width: 250px;
}

#displayResults {
    transition: all 2s ease;
    font-size: 2em;
    font-weight: bold;
}

#displayPlayerScore {
    font-size: 1.5em;
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 20px;
    margin-left: 30px;
}

#displayComputerScore {
    font-size: 1.5em;
    font-weight: bold;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 20px;
    margin-right: 30px;
}